@tailwind base;
@tailwind components;
@tailwind utilities;

.selection-rectangle {
  position: absolute;
  border: 2px dashed #ffd460;
  background-color: rgba(255, 212, 96, 0.2);
  pointer-events: none;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.masonry-column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}
.masonry-column > div {
  margin-bottom: 1rem;
}
